* {
	text-align: center;
	font-family: "Century gothic";
}

a {
	padding: 10px;
	background-color: green;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	box-shadow: 0 0 5px #999;
}

hr {
	clear: both;
	display: block;
	margin-top: 25px;
}

#tips {
	padding: 20px;
	display: block;
	background-color: #eee;
	box-shadow: 0 0 10px #333;
	margin: 10px auto;
	max-width: 400px;
}