/* Generella egenskaper */

body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

figure {
	margin: 0;
}


/* Textstorlek och alignment för h1 */

header>h1 {
    text-align: center;
    white-space: nowrap;
}


/* padding i underkant för h3 */

figure>h3 {
    padding-bottom: 1em;
}


/* ändra design på länkar */

nav>a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(187, 187, 187);
}


/* ändra design på länkar vid hovring */

nav>a:hover {
    color: grey;
}


/* sätter wrapper (container) till att visas som grid box */

.wrapper {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
}


/* sätter grid-area färg och padding för header */

.wrapper>header {
    grid-area: header;
    background-color: rgb(224, 224, 224);
    padding: 1em;
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
}


/* sätter grid-area färg och padding för nav */

.wrapper>nav {
    grid-area: nav;
    background-color: black;
    box-shadow: 2px 2px 4px rgb(129, 129, 129);
    padding: 3px;
}


/* sätter grid-area färg och padding för main */

.wrapper>main {
    grid-area: main;
    background-color: rgb(238, 238, 238);
    padding: 1em;
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
}


/* sätter grid-area färg och padding för footer */

.wrapper>footer {
    grid-area: footer;
    background-color: rgb(185, 185, 185);
    padding: 1em;
    box-shadow: 2px 2px 4px gray;
}


/* sätter nav att visas som flex box */

#nav {
    padding: 1em;
    display: flex;
}


/* sätter main-container att visas som grid box */

#main-container {
    display: grid;
}


/* sätter storlek och alignment på header2 */

#header2 {
    font-size: 25px;
    text-align: center;
}


/* sätter färg, kantrundning och padding för box-klassen */

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1em;
    box-shadow: 2px 2px 4px rgb(182, 182, 182);
}

#drop-down-menu {
    margin: 1em;
}

#menu-button { 
    font-size: 22px;
    color: white; 
    text-align: center;
}